1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [18]:
#1.a

for i in range(1,101,1):
    if i%3 == 0 & i%5 == 0: print("Mickey Mouse")
    elif i%3 == 0: print("Mickey")
    elif i%5 == 0: print("Mouse")
    else: print(i)

1
2
Mickey Mouse
4
Mouse
Mickey Mouse
7
8
Mickey Mouse
Mouse
11
Mickey Mouse
13
14
Mickey Mouse
16
17
Mickey Mouse
19
Mouse
Mickey Mouse
22
23
Mickey Mouse
Mouse
26
Mickey Mouse
28
29
Mickey Mouse
31
32
Mickey Mouse
34
Mouse
Mickey Mouse
37
38
Mickey Mouse
Mouse
41
Mickey Mouse
43
44
Mickey Mouse
46
47
Mickey Mouse
49
Mouse
Mickey Mouse
52
53
Mickey Mouse
Mouse
56
Mickey Mouse
58
59
Mickey Mouse
61
62
Mickey Mouse
64
Mouse
Mickey Mouse
67
68
Mickey Mouse
Mouse
71
Mickey Mouse
73
74
Mickey Mouse
76
77
Mickey Mouse
79
Mouse
Mickey Mouse
82
83
Mickey Mouse
Mouse
86
Mickey Mouse
88
89
Mickey Mouse
91
92
Mickey Mouse
94
Mouse
Mickey Mouse
97
98
Mickey Mouse
Mouse

In [25]:
#1.b

a = []
#rimepie la lista
for i in range(1,101,1):
    if i%3 == 0 and i%5 == 0: a.append("Mickey Mouse")
    elif i%3 == 0: a.append("Mickey")
    elif i%5 == 0: a.append("Mouse")
    else: a.append(i)

#sostituisce
for i in range(1,101,1):
    if i%3 == 0 and i%5 == 0: a[i-1]="Donald Duck"
    elif i%3 == 0:  a[i-1]="Donald"
    elif i%5 == 0:  a[i-1]="Duck"
print(a)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [32]:
#2 mah...


x,y = [1,2,3],"ciao"

def swap_func(a,b):
    return b,a

x,y = swap_func(x,y)
print(x)
print(y)

[1, 2, 3]
ciao
ciao
[1, 2, 3]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [26]:
#3

import math

def distance(w,z):
    try: math.sqrt((w[0]-z[0])*(w[0]-z[0])+(w[1]-z[1])*(w[1]-z[1]))
    except: print("In order to calculate the distance i need two points. Please, insert the coordinates of each point as a list.")
    return math.sqrt((w[0]-z[0])*(w[0]-z[0])+(w[1]-z[1])*(w[1]-z[1]))

#mi da fastidio che pure se da errore la funzione prova comunque a calcolare il risultato dato che except sta prima di return

x=[1,1]
y=[2,2]

distance(x,y)

1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [25]:
#4

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s=s.lower()
contatore = {} #come si inizializza la variabile a zero???
lunghezza=len(s)

#ciclo per inizializzare a zero il contatore
for i in range(0,lunghezza,1):
   contatore[s[i]]=0

for i in range(0,lunghezza,1):
    contatore[s[i]]=contatore[s[i]]+1
print(contatore)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [21]:
#5


l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
l.sort()
contatore = {} #come si inizializza la variabile a zero???

#ciclo per inizializzare a zero il contatore
for i in range(0,len(l),1):
   contatore[l[i]]=0

for i in range(0,len(l),1):
    contatore[l[i]]=contatore[l[i]]+1
    
numero_unici = 0
for i in contatore:
    if contatore[i]==1: 
        print(i, "è unico")
        numero_unici=numero_unici + 1

print("ci sono %d numeri unici in questa funzione" %numero_unici)

1 è unico
5 è unico
8 è unico
9 è unico
10 è unico
16 è unico
18 è unico
19 è unico
24 è unico
30 è unico
33 è unico
37 è unico
39 è unico
41 è unico
47 è unico
53 è unico
54 è unico
55 è unico
57 è unico
58 è unico
64 è unico
72 è unico
74 è unico
75 è unico
79 è unico
81 è unico
82 è unico
86 è unico
87 è unico
88 è unico
90 è unico
92 è unico
94 è unico
95 è unico
96 è unico
98 è unico
99 è unico
ci sono 37 numeri unici in questa funzione

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [28]:
#6 avrei messo il controllo che x sia un numero ma ho sempre 
#il problema che pure se non lo è viene comunque passato il risultato (che ovviamente da errore)

def square(x):
    return x*x

def cube(x):
    return x*x*x

def sixth(x):
    return cube(square(x))

y=2
print(sixth(y))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [22]:
#7.a

cubes=[]

def cube(x):
    return(x*x*x)

for i in range(11):
    cubes.append(cube(i))
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [27]:
#7.b

def cube(x):
    return(x*x*x)

cubes=[cube(x) for x in range(11)]

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [23]:
#8 


triples=[(a,b,c) for c in range(1,100,1) for a in range(1,100,1) for b in range(a,100,1)  if a*a + b*b == c*c]

print(triples)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (7, 24, 25), (15, 20, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (14, 48, 50), (30, 40, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (16, 63, 65), (25, 60, 65), (33, 56, 65), (39, 52, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (21, 72, 75), (45, 60, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (13, 84, 85), (36, 77, 85), (40, 75, 85), (51, 68, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]

In [13]:
#8 altro metodo 

triples=[]

for c in range(1,100,1):
    for a in range(1,100,1):
        for b in range(a,100,1):
            if a*a + b*b == c*c: 
                found_triple = [a,b,c]
                triples.append(found_triple)
               
print(triples)

[[3, 4, 5], [6, 8, 10], [5, 12, 13], [9, 12, 15], [8, 15, 17], [12, 16, 20], [7, 24, 25], [15, 20, 25], [10, 24, 26], [20, 21, 29], [18, 24, 30], [16, 30, 34], [21, 28, 35], [12, 35, 37], [15, 36, 39], [24, 32, 40], [9, 40, 41], [27, 36, 45], [14, 48, 50], [30, 40, 50], [24, 45, 51], [20, 48, 52], [28, 45, 53], [33, 44, 55], [40, 42, 58], [36, 48, 60], [11, 60, 61], [16, 63, 65], [25, 60, 65], [33, 56, 65], [39, 52, 65], [32, 60, 68], [42, 56, 70], [48, 55, 73], [24, 70, 74], [21, 72, 75], [45, 60, 75], [30, 72, 78], [48, 64, 80], [18, 80, 82], [13, 84, 85], [36, 77, 85], [40, 75, 85], [51, 68, 85], [60, 63, 87], [39, 80, 89], [54, 72, 90], [35, 84, 91], [57, 76, 95], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [25]:
#9 stessa storia riguardo il controllo con try-except 

import math


def normalize(x):
    module = 0
    for i in range(len(x)): module=module + x[i]*x[i]
    x = [i/math.sqrt(module) for i in x]
    return x     

vector=[2,2]
normalize(vector)

[0.7071067811865475, 0.7071067811865475]